body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Base structural adjustments for navbar desktop views */
@media (min-width: 992px) {
  .nav-link {
    margin-left: 25px;
  }
}

#supportHero {
  background-color: rgb(56, 126, 209);
  color: white;
}

#supportHero a {
  color: white;
}

#supportWrapper {
  display: flex;
  justify-content: space-between;
}

/* Custom internal baseline control overrides for the layout input frame */
#supportHero input {
  padding: 15px 20px;
  width: 100%;
  font-size: 1rem;
  border-radius: 0;
  border: none;
}